node_modules
bun.lock
bun.lockb
package-lock.json
dist/
instances/
services.json
*.log
.DS_Store
.env
.env.local
bunproxy-gui
bunproxy-gui-*
bunproxy-gui.exe
.history/
public/index.html
public/assets/
